@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins','sans-serif';
  box-sizing: border-box;
}
body{
  color: #fff;
  background: #162230;
}

.home1{
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: rgb(64, 87, 121) ;
}
.home1 .sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.home1 h3{
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: 600;
}
.home1 a .bx-menu{
  display: none;
  font-size: 30px;
  color: #fff;
  transition: .3s;
  
}
.home1 a .bx:hover{
  color: #ff0000;
}
.home1 .navbar a{
  margin-right: 35px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  transition: .3s;
}
.home1 a:hover{
  color: aqua;
}
.home{
  display: flex;
  justify-content: space-between;
}
#textplace{
  margin-top: 100px;
  margin-left: 70px;
}
#textplace h3{
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 70px;
}
#textplace h1{
  margin-top: 7px;
  font-size: 55px;
  font-weight: 600;
  margin-left: 80px;
  color: #00ff0d;
  margin-bottom: 15px;
}
#textplace span{
  color: #fff;
}
#textplace p{
  margin-top: 15px;
  text-transform: inherit;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  
}
.icoms{
  margin-top: 50px;
  width: 390px;
  height: 100px;
  background-image: url(images/background/images\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
.icoms h2{
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
}
.icoms a{
 width: 50px;
 padding: 10px;
 margin-left: 35px;
 background-color: rgb(64, 87, 121);
 color: black;
 margin: 15px;
 border-radius: 50%;
 cursor: pointer;
 transition: .3s;
}
.icoms a:hover{
  color: rgb(231, 226, 236);
  background-color: blueviolet;
}
.images img{
  margin-top: 90px;
  margin-right: 80px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgb(64, 87, 121);
  margin-bottom: 70px;
  margin-top: 200px;
}

.about{
  background-color: #162230;
  color: #fff;
  margin-bottom: 50px;
}
.about h1{
  text-align: center;
  font-size: 45px;
}
.about1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.resume{
  width: 400px;
  padding: 10px;
  margin-left: 50px;
  background-image: url(images/background/images\ \(4\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}
.resume h2{
  text-align: center;
  margin-bottom: 7px;
  color: #1a26d6;
}
.resume span{
  margin-left: 10px;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 20px;
}
.resume p{
  margin-left: 10px;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 15px;
}
.resume p strong{
  color: #1a26d6;
}
.classtext{
  margin-top: 25px;
  margin-right: 60px;
}
.classtext p{
  font-size: 20px;
  margin-top: 7px;
  margin-right: 50px;
  font-weight: 600;
}
.about2{
  margin-top: 35px;
}
.about2 h2{
  text-align: center;
  margin-bottom: 25px;
}
.testimonial{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}
.testiomonials1{
  width: 350px;
  padding: 15px;
  background-color: rgb(64, 87, 121) ;
  margin-left: 10px;
  border-radius: 5%;
  margin-bottom: 15px;
}
.testiomonials1 img{
  border-radius: 50%;
}
.testiomonials1 h4{
  font-size: 25px;
  color: #162230;
  font-weight: 600;
  margin-bottom: 10px;
}
.testiomonials1 p{
  font-size: 15px;
  font-weight: 600;
}
.testiomonials2{
  width: 350px;
  padding: 15px;
  background-color: rgb(64, 87, 121) ;
  margin-left: 10px;
  border-radius: 5%;
  margin-bottom: 15px;
}
.testiomonials2 img{
  border-radius: 50%;
}
.testiomonials2 h4{
  font-size: 25px;
  color: #162230;
  font-weight: 600;
  margin-bottom: 10px;
}
.testiomonials2 p{
  font-size: 15px;
  font-weight: 600;
}
.testiomonials3{
  width: 350px;
  padding: 15px;
  background-color: rgb(64, 87, 121) ;
  margin-left: 10px;
  border-radius: 5%;
  margin-bottom: 15px;
}
.testiomonials3 img{
  border-radius: 50%;
}
.testiomonials3 h4{
  font-size: 25px;
  color: #162230;
  font-weight: 600;
  margin-bottom: 10px;
}
.testiomonials3 p{
  font-size: 15px;
  font-weight: 600;
}
.skill h1{
  text-align: start;
  font-size: 35px;
  margin-left: 35px;
  margin-bottom: 20px;
}
.skillplace1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.designer1{
  width: 250px;
  height: 300px;
  padding: 10px;
  background-color: rgb(213, 223, 236);
  box-shadow: 10px 10px 10px rgb(64, 87, 121);
  color: #000;
  margin-bottom: 20px;
}
.designer1 .bx{
  margin-top: 20px;
 margin-left: 80px;
 background-color: #2e96b6;
 padding: 15px;
 border-radius: 50%;
 margin-bottom: 15px;
}
.designer1 h3{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.designer1 p{
  font-size: 17px;
  color: #162230;
  text-align: left;
  font-weight: 600;
  font-style: oblique;
}

.designer2{
  width: 250px;
  height: 300px;
  padding: 10px;
  background-color: rgb(213, 223, 236);
  box-shadow: 10px 10px 10px rgb(64, 87, 121);
  color: #000;
  margin-bottom: 20px;
}
.designer2 .bx{
  margin-top: 20px;
 margin-left: 80px;
 background-color: #2e96b6;
 padding: 15px;
 border-radius: 50%;
 margin-bottom: 15px;
}
.designer2 h3{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.designer2 p{
  font-size: 17px;
  color: #162230;
  text-align: left;
  font-weight: 600;
  font-style: oblique;
}
.designer3{
  width: 250px;
  height: 300px;
  padding: 10px;
  background-color: rgb(213, 223, 236);
  box-shadow: 10px 10px 10px rgb(64, 87, 121);
  color: #000;
  margin-bottom: 20px;
}
.designer3 .bx{
  margin-top: 20px;
 margin-left: 80px;
 background-color: #2e96b6;
 padding: 15px;
 border-radius: 50%;
 margin-bottom: 15px;
}
.designer3 h3{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.designer3 p{
  font-size: 17px;
  color: #162230;
  text-align: left;
  font-weight: 600;
  font-style: oblique;
}
.language h2{
  text-align: center;
  margin: 15px;
  margin-right: 100px;
}
.knoweldege{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.language h6{
 font-size: 15px; 
 margin: 7px;
 margin-bottom: 20px;
}

.blog{
  margin-top: 100px;
  margin-bottom: 50px;
}
.blog h1{
  text-align: right;
  margin-right: 100px;
  margin-bottom: 10px;
  font-size: 2rem;
}
.firstimage h3{
  text-align: left;
  margin-left: 100px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.firstimage1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.firstimage1  img{
  margin: 1.5rem;
  border-radius: 10px;
  width: 18rem;
  transition: .3s;
  margin-bottom: 15px;
}
.secondimage h3{
  text-align: center;
  margin-left: 100px;
  margin-bottom: 10px;
  font-size: 1.5rem; 
}
.secondimage1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.secondimage1 a img{
  margin: 1.5rem;
  border-radius: 10px;
  width: 15rem;
  transition: .3s;
}
.secondimage1 a:hover{
  background-color: #2e96b6;
  border-radius: 2rem;
}
.contact {
  background-color: #162230;
  color: #fff;
}
.contact h1{
  text-align: center;
  font-size: 40px;
  margin: 30px 0px 20px 0px;
  color: #2e96b6;
  font-weight: 700;
}
.contact p{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.place1{
 display: flex; 

}
.place1 label{
  font-size: 25px;
  margin: 30px;
}
.place1 input{
  width: 450px;
  height: 50px;
  margin-top: 30px;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 25px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
}
.place2{
  display: flex;
  justify-content: space-between;
}
.place2 input{
  width: 450px;
  height: 150px;
  margin-top: 30px;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 25px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: start;
  margin-bottom: 20px;
}
#button{
  width: 150px;
  height: 50px;
  margin-top: 130px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
  background-color: #2e96b6;
  color: #fff;
  border: none;
  box-shadow: 0px 0px 10px rgb(64, 87, 121);
  border-radius: 2rem;
}
.footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: rgb(126, 113, 99);
  color: #000;
}
.footer1{
 margin-left: 35px;
}
.footer1 h3{
  font-size: 25px;
  font-weight: 600;
}
.footer1 span{
  font-weight: 600; 
}
.footer2 h3{
  font-size: 25px;
  font-weight: 600;
}
.footer2 label{
  font-weight: 600; 
  margin-right: 15px;
  margin-bottom: 5px;
}
.footer2 a{
  width: 50px;
  height: 50px;
  background-color: rgb(64, 87, 121);
  padding: 5px;
  border-radius: 50%;
}
.footer2 a:hover{
  color: #fff;
  background-color: #2e96b6;
}
.footer2 #reverse{
  text-decoration: none;
  color: #000;
  background-color: transparent;
}
.footer3{
  margin-right: 35px;
 }
 .footer3 h3{
   font-size: 25px;
   font-weight: 600;
 }
 .footer3 span{
   font-weight: 600; 
 }
.footer span{
  text-align: center;
  font-weight: 600;
}

@media(max-width : 1200px){
  html{
    font-size: 55%;
  }
}
@media(max-width : 991px){
  .home1{
    padding: 2rem 3%;
  }
  .home1 a{
    font-size: 25px;
    margin-right: 15px;
  }
  .contact .footer{
    padding: 2rem 3%;
  }
  .contact .footer span{
    font-size: 15px;
  }
  .about{
    margin: 35px;
  }
  .about h1{
    margin-bottom: 20px;
  }
  .place1{
    display: block;
    justify-content: center;
  }
  .blog{
    margin-top: 15px;
  }
  .blog h1{
    text-align: center;
    font-size: 30px;
  }
  .firstimage h3{
    text-align: start;
    font-size: 25px;
    margin-left: 20px;
  }
  .firstimage1 img{
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .secondimage h3{
    text-align: center;
    font-size: 25px;
    margin-left: 20px;
  }
  .secondimage1 a img{
    justify-content: space-around;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .language h2{
    font-size: 25px;
  }
  .about1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .classtext{
    transform: translate(20%);
  }
  .resume{
    transform: translate(50%);
  }
  .about2 h2{
    font-size: 25px;
  }
  .textplace h3{
    margin-top: 15px;
    font-size: 15px;
  }
  .textplace h1{
    font-size: 25px;
    margin: 10px;
  }
  .textplace p{
    font-size: 10px;

  }
}
@media(max-width : 850px){
  html{
    font-size: 55%;
  }
}
@media(max-width : 750px){
  .home1{
    padding: 0.2rem 2%;
  }
  .home1 a .bx-menu{
    display: block;
   margin-top: 20px;
  }
  #maxwidth{
    display: none;
  }
  .section1{
    display: inline-block;
  }
  .contact .footer{
    width: 100%;
    padding: 0.1rem 0.1%;
  }
  .home1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
}